@charset "utf-8";
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: 'Noto Sans', sans-serif;
}
html{
    height: -wedkit-fill-available;
}
body{
    display: flex;
    flex-direction: column;
    max-width: 1400px;
    margin: 0 auto;
    scroll-behavior: smooth;
    background-color: black;
    height: 100vh;
    height: -wedkit-fill-available;
}
section{
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
}
#parent{
    position: relative;
    display: grid;
}
.sign {
    position: relative;
    top: 285px;
    left: 754px;
    margin-right: 0px;
    background: none;
    color: #ffeeee;
    font-size: 5rem;
    font-weight: bold;
    display: inline-block;
    font-family: 'Noto Sans', sans-serif;
}
#x {
    -webkit-animation: flicker-0 10s infinite linear;
    -moz-animation: flicker-0 10s infinite linear;
    animation: color-change 10s infinite forwards;
}
#k {
    transition: 0s;
    animation: fliker-k 10s infinite linear;
}
#x::before {
content: '';
position: absolute;
top: 0;
bottom: 0;
left: 0;
right: 0;
background-color: #f84aa7;
border-radius: 50%;
filter: blur(2em);
opacity: 0;
animation: color-change 10s infinite linear;
animation: change-op 10s infinite linear;
}
#x::after{
    content: '';
    position: absolute;
    top: 52px;
    bottom: 0px;
    left: 0;
    right: 0;
    border-radius: 1em;
    background: radial-gradient(#111124 30%,#ffffff, #dddddd);
    transform: perspective(1em) rotateX(80deg) translateY(70%);
    filter: blur(5px);
    animation: change-op 10s infinite linear;
}
@keyframes fliker-k {
    0%,
    4%,
    6%,
    9%,
    11%,
    29%,
    41%,
    54%,
    56%,
    76%,
    78%,
    89%,
    91%,
    93%,
    95%,
    100%  {
        background: #ffffff;
        background-clip: text;
        -webkit-background-clip: text;
        -moz-background-clip: text;
        -moz-text-fill-color: transparent;
        -webkit-text-fill-color: transparent;
    }
    5%,
    10%,
    30%,
    40%,
    55%,
    77%,
    90%,
    92%,
    94% {
        background: linear-gradient(-90deg, #ffffff, #858484);
        background-clip: text;
        -webkit-background-clip: text;
        -moz-background-clip: text;
        -moz-text-fill-color:transparent;
        -webkit-text-fill-color: transparent;
    }
}
@keyframes change-op {
    0%,
    4%,
    6%,
    9%,
    11%,
    29%,
    41%,
    54%,
    56%,
    76%,
    78%,
    89%,
    91%,
    93%,
    95%,
    100% {
        opacity: 0;
    }
    5%,
    10%,
    30%,
    40%,
    55%,
    77%,
    90%,
    92%,
    94% {
        opacity: 1;
    }
}
@keyframes color-change {
    0%,
    4%,
    6%,
    9%,
    11%,
    29%,
    41%,
    54%,
    56%,
    76%,
    78%,
    89%,
    91%,
    93%,
    95%,
    100% {
        color: #646464;
        text-shadow: none;
    }
    5%,
    10%,
    30%,
    40%,
    55%,
    77%,
    90%,
    92%,
    94% {
        color: white;
        text-shadow: 0 0 0.125em rgb(255, 255, 255);
    }
}
.floating img{
    animation-name: floating;
    height: 140px; 
    width: 80px;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    position: absolute;
    top: 100px;
    right: 60px;
}
@keyframes floating {
    0%{transform: translate(0, 0px);}
    50%{transform: translate(0, 10px);}
    100%{transform: translate(0, 0px);}
}
.floating1 img{
    animation-name: floating1;
    height: 140px; 
    width: 80px;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    position: absolute;
    top: 520px;
    left: 80px;
}
@keyframes floating1 {
    0%{transform: translate(0, 10px);}
    50%{transform: translate(0, 0px);}
    100%{transform: translate(0, 10px);}
}
.dots1 img{
    position: absolute;
    width: 250px;
    height: 150px;
    top: 100px;
    left: 60px;
}
.dots2 img{
    position: absolute;
    width: 250px;
    height: 150px;
    top: 510px;
    right: 60px;
}
.ninja img{
    animation-name: ninja1;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    position: absolute;
    width: 200px;
    height: 250px;
    top: 150px;
    left: 550px;
}
@keyframes ninja1 {
    0%{transform: translate(0, 0px);}
    50%{transform: translate(3px, 0px);}
    100%{transform: translate(0, 0px);}
}
.header-text {
    margin-top: 20px;
    font-size: 35px;
    color: rgb(255, 255, 255);
    position: absolute;
    font-weight: bold;
    top: 200px;
    left: 560px; 
}
.header-text .ft{
    font-size: 27px;
    margin-top: 20px;
    color: rgb(102, 102, 102);
}
.header-text1 {
    margin-top: 10px;
    font-size: 65px;
    color: aliceblue;
    position: absolute;
    top: 280px;
    left: 450px;
}
.header-text1 h1{
    font-size: 75px;
    font-weight: bold;
    color: rgb(255, 255, 255);
}
nav {
    position: fixed;
    align-items: center;
    top: 450px;
    right: 20px; 
}
nav a i{
    color: #ffffff;
    font-size: 25px;
    margin-top: 10px;
    margin-bottom: 10px;
}
nav a i:hover{
    color: white;
    text-shadow: 0 0 10px rgb(0, 0, 0), 0 0 15px rgb(255, 255, 255), 0 0 25px rgb(255, 255, 255);
}
.about-icon i{
    position: absolute;
    font-size: 25px;
    top: 688px;
    left: 95px;
    color: rgb(204, 230, 255);
    text-shadow: 0 0 10px rgb(109, 200, 252), 0 0 15px rgb(109, 200, 252), 0 0 25px rgb(109, 200, 252), 0 0 30px rgb(109, 200, 252), 0 0 35px rgb(109, 200, 252), 0 0 40px rgb(109, 200, 252), 0 0 50px rgb(109, 200, 252), 0 0 60px rgb(109, 200, 252), 0 0 70px rgb(109, 200, 252), 0 0 12px rgb(109, 200, 252), 0 0 80px rgb(109, 200, 252);
}
.vline1 {
    position: absolute;
    top: 515px;
    left: 103px;
    height: 160px;
    width: 3px;
    background: linear-gradient(rgb(0, 0, 0) 15%, rgb(109, 200, 252)) ;
}
.vline2 {
    position: absolute;
    height: 200px;
    width: 3px;
    top: 730px;
    left: 103px;
    background: linear-gradient(rgb(109, 200, 252), rgb(0, 0, 0) 85%) ;
}
.vline3 {
    position: absolute;
    height: 100px;
    width: 3px;
    top: 1400px;
    left: 103px;
    background: linear-gradient(rgb(0, 0, 0) 15%, rgb(197, 51, 255)) ;
}
.skills-icon i{
    position: absolute;
    top: 1513px;
    left: 93px;
    height: 80px;
    width: 80px;
    font-size: 25px;
    color: rgb(255, 255, 255);
    text-shadow: 0 0 10px #d400ff, 0 0 15px #d400ff, 0 0 25px #d400ff, 0 0 30px #d400ff, 0 0 35px #d400ff, 0 0 40px #d400ff, 0 0 50px #d400ff, 0 0 60px #d400ff, 0 0 70px #d400ff, 0 0 12px #d400ff, 0 0 80px #d400ff;
}
.skill h1{
    position: absolute;
    top: 1508px;
    left: 150px;
    height: 80px;
    width: 80px;
    font-size: 25px;
    color: rgb(232, 193, 255);
}
.skill-top {
    position: absolute;
    top: 1580px;
    left: 150px;
}
.skill-top p{
    font-size: 40px;
    color: rgb(232, 193, 255);
}
.skill-top span{
    color: rgb(103, 0, 163);
}
.punk img{
    position: absolute;
    top: 1368px;
    left: 1015px;
    height: 110px;
    width: 190px;
}
.mac img{
    position: absolute;
    top: 1353px;
    left: 1000px;
    height: 200px;
    width: 220px;
}
.networking {
    position: absolute;
    background: rgba(48, 48, 48, 0.5);
    border-radius: 8px;
    box-shadow: 0 0 2px rgb(201, 201, 201);
    top: 1700px;
    left: 50px;
    height: 550px;
    font-size: 18px;
    font-weight: bold;
    color: rgb(102, 102, 102);
}
.networking h1{
    margin-top: 30px;
    margin-left: 70px;
    margin-right: 30px;
    margin-bottom: 10px;
    color: rgb(221, 221, 221);
}
.networking p{
    margin-top: 20px;
    margin-left: 70px;
    margin-right: 30px;
    margin-bottom: 20px;
}
.otherskills {
    position: absolute;
    background: rgb(29, 29, 29);
    border-radius: 8px;
    box-shadow: 0 0 2px rgb(201, 201, 201);
    font-size: 18px;
    font-weight: bold;
    top: 1650px;
    left: 600px;
    right: 20px;
    height: 420px;
    width: 650px;
    color: rgb(102, 102, 102);
}
.otherskills h1{
    color: rgb(221, 221, 221);
    margin-top: 30px;
    margin-left: 70px;
    margin-right: 30px;
    margin-bottom: 10px;
}
.otherskills p{
    margin-top: 20px;
    margin-left: 70px;
    margin-right: 30px;
    margin-bottom: 20px;
}
.vline4 {
    position: absolute;
    height: 180px;
    width: 3px;
    top: 1550px;
    left: 103px;
    background: linear-gradient(rgb(197, 51, 255), rgb(0, 0, 0) 85%) ;
}
.vline5 {
    position: absolute;
    height: 100px;
    width: 3px;
    top: 2260px;
    left: 103px;
    background: linear-gradient(rgb(0, 0, 0) 15%, rgb(8, 252, 41));
}
.edu-tit h1{
    position: absolute;
    top: 2390px;
    left: 152px;
    height: 80px;
    width: 80px;
    font-size: 25px;
    color: rgb(209, 255, 212);
}
.edu-ico i {
    position: absolute;
    top: 2392px;
    left: 95px;
    height: 80px;
    width: 80px;
    font-size: 25px;
    color: rgb(209, 255, 212);
    text-shadow: 0 0 10px rgb(78, 255, 90), 0 0 15px rgb(78, 255, 90), 0 0 25px rgb(78, 255, 90), 0 0 30px rgb(78, 255, 90), 0 0 35px rgb(78, 255, 90), 0 0 40px rgb(78, 255, 90), 0 0 50px rgb(78, 255, 90), 0 0 60px rgb(78, 255, 90), 0 0 70px rgb(78, 255, 90), 0 0 12px rgb(78, 255, 90), 0 0 80px rgb(78, 255, 90);
}
.edu-sec h1 {
    position: absolute;
    top: 2450px;
    left: 150px;
    font-size: 40px;
    color: rgb(78, 255, 90);
}
.edu-sec p{
    position: absolute;
    top: 2495px;
    left: 150px;
    margin-top: 20px;
    font-size: 25px;
    color: rgb(209, 255, 212);
}
.vline6 {
    position: absolute;
    height: 180px;
    width: 3px;
    top: 2455px;
    left: 103px;
    background: linear-gradient(rgb(8, 252, 41), rgb(0, 0, 0) 85%);
}
.contactme img{
    position: absolute;
    top: 2300px;
    left: 600px;
    height: 500px;
    width: 700px;
}
.contactme h1{
    position: absolute;
    font-weight: bold;
    color: rgb(73, 73, 73);
    top: 2600px;
    left: 150px;
}
.mail p{
    position: absolute;
    font-weight: bold;
    color: rgb(54, 54, 54);
    top: 2685px;
    left: 150px;
    font-size: 20px;
}
.mail i{
    color: rgb(73, 73, 73);
}
.number p{
    position: absolute;
    font-weight: bold;
    color: rgb(54, 54, 54);
    top: 2650px;
    left: 150px;
    font-size: 20px;
}
.number i{
    color: rgb(73, 73, 73);
}
.social-icons {
    position: absolute;
    top: 2710px;
    left: 150px;
    font-size: 30px;
}
.social-icons i{
    color: rgb(73, 73, 73);
    margin-top: 20px;
    margin-right: 20px;
}
.about {
    position: absolute;
    top: 675px;
    left: 120px;
}
.about h1{
    font-size: 25px;
    font-weight: bolder;
    color:  rgb(204, 230, 255);
    margin-top: 10px;
    margin-left: 20px;
}
.about-top {
    position: absolute;
    top: 748px;
    left: 140px;
    color: rgb(204, 230, 255);
    font-size: 40px;
}
.about-top p span{
    color: rgb(77, 154, 255);
}
.about-sec {
    position: absolute;
    font-size: 10px;
    margin: auto;
    background: rgba(48, 48, 48, 0.5);
    border-radius: 8px;
    box-shadow: 0 0 2px rgb(201, 201, 201);
    color: rgba(236, 236, 236, 0.7);
    top: 900px;
    left: 50px;
    height: 500px;
    width: 1000px;
}
.about-cont {
    position: absolute;
    font-size: 10px;
    margin: auto;
    background: linear-gradient(0deg , black , rgb(44, 44, 44));
    border-radius: 8px;
    box-shadow: 0 0 2px rgb(201, 201, 201);
    color: rgba(236, 236, 236, 0.7);
    top: 900px;
    left: 50px;
    height: 500px;
    width: 1000px;
}
.glow::before , .glow::after{
    content: '';
    position: absolute;
    left: -2px;
    top: -2px;
    background: linear-gradient(90deg , #e6fb04 , #ff6600 , #00ff66 , #00ffff , #ff00ff ,#ff0099 , #6e0dd0 , #ff3300 , #099fff);
    background-size: 400%;
    border-radius: 8px;
    width: calc(100% + 5px);
    height: calc(100% + 5px);
    z-index: -1;
    animation: animat 20s linear infinite;
}
@keyframes animat{
    0%{
        background-position: 0 0;
    }
    50%{
        background-position: 400% 0;
    }
    100%{
        background-position: 0 0 ;
    }
}
.glow::after{
    filter: blur(25px);

}
.about-cont p{
    margin-top: 30px;
    margin-left: 70px;
    margin-right: 30px;
    margin-bottom: 30px;
    font-size: 20px;
    font-weight: bold;
    color: rgb(102, 102, 102);
}
.about-cont p span{
    color: rgb(221, 221, 221);
}
.shadow {
    position: fixed;
    top: 0;
    height: 20px;
    width: 100%;
    background-color: black;
    box-shadow: 0 0 80px 80px black, 0 0 60px 60px black;
}
@media only screen and (max-width: 700px){
    nav {
        position: fixed;
        align-items: center;
        top: 240px;
        right: 20px; 
    }
    nav a i{
        color: #ffffff;
        font-size: 25px;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    nav a i:hover{
        color: white;
        text-shadow: 0 0 10px rgb(0, 0, 0), 0 0 15px rgb(255, 255, 255), 0 0 25px rgb(255, 255, 255);
    }
    .floating img{
        animation-name: floating;
        height: 100px; 
        width: 90px;
        animation-duration: 5s;
        animation-iteration-count: infinite;
        animation-timing-function: ease-in-out;
        position: absolute;
        top: 210px;
        right: 20px;
    }
    .header-text {
        position: absolute;
        font-weight: bold;
        top: 250px;
        left: 70px;
        margin-top: 20px;
        font-size: 20px;
        color: rgb(255, 255, 255);
    }
    .header-text .ft{
        font-size: 20px;
        margin-top: 20px;
        color: rgb(102, 102, 102);
    }
    .header-text1 {
        margin-top: 10px;
        font-size: 30px;
        color: aliceblue;
        position: absolute;
        top: 285px;
        left: 70px;
        right: 10px;
    }
    .header-text1 h1{
        font-size: 40px;
        font-weight: bold;
        color: rgb(255, 255, 255);
    }
    .container .text{
        position: relative;
        top: 410px;
        left: 70px;
        color: rgb(77, 154, 255);
        font-size: 25px;
        font-weight: bolder;
    }
    .container .text.first-text{
        color: rgb(102, 102, 102);
    }
    .text.sec-text::before{
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background-color: black;
        border-left: 4px solid rgb(77, 154, 255);
        animation: animate 4s steps(12) infinite;
    }
    @keyframes animate{
        40%, 70%{
            left: 100%;
        }
        100%{
            left: 0%;
        }
    }
    .hand-shake i{
        position: absolute;
        color: rgb(102, 102, 102);
        font-size: 20px;
        top: 273px;
        left: 20px; 
    }
    .about {
        position: absolute;
        top: 495px;
        left: 50px;
    }
    .about h1{
        font-size: 20px;
        font-weight: bold;
        color:  rgb(204, 230, 255);
        margin-top: 10px;
        margin-left: 25px;
    }
    .about-top {
        position: absolute;
        top: 548px;
        left: 70px;
        right: 10px;
        color: rgb(204, 230, 255);
        font-size: 25px;
    }
    .about-top p span{
        color: rgb(77, 154, 255);
    }
    .about-sec {
        position: absolute;
        font-size: 10px;
        margin: auto;
        background: rgba(48, 48, 48, 0.5);
        border-radius: 8px;
        box-shadow: 0 0 2px rgb(201, 201, 201);
        color: rgba(236, 236, 236, 0.7);
        top: 800px;
        left: 15px;
        right: 20px;
        height: 520px;
        width: 320px;
    }
    .about-cont {
        position: absolute;
        font-size: 10px;
        margin: auto;
        background: linear-gradient(0deg , black , rgb(44, 44, 44));
        border-radius: 8px;
        box-shadow: 0 0 2px rgb(201, 201, 201);
        color: rgba(236, 236, 236, 0.7);
        top: 800px;
        left: 15px;
        right: 20px;
        height: 520px;
        width: 320px;
    }
    .about-cont p{
        margin-top: 20px;
        margin-left: 60px;
        margin-right: 30px;
        margin-bottom: 20px;
        font-size: 15px;
        font-weight: bold;
        color: rgb(102, 102, 102);
    }
    .about-cont p span{
        color: rgb(221, 221, 221);
    }
    .about-icon i{
        position: absolute;
        font-size: 20px;
        top: 505px;
        left: 23px;
        color: rgb(204, 230, 255);
    }
    .vline1 {
        position: absolute;
        height: 200px; 
        width: 3px;
        top: 290px;
        left: 30px;
    }
    .vline2 {
        position: absolute;
        height: 250px;
        width: 3px;
        top: 545px;
        left: 30px;
    }
    .vline3 img{
        position: absolute;
        height: 167px;
        width: 3px;
        top: 1330px;
        left: 30px;
    }
    .purple-r img{
        position: absolute;
        top: 1500px;
        left: 0;
        height: 60px;
        width: 60px;
    }
    .vline4 img{
        position: absolute;
        height: 110px;
        width: 3px;
        top: 1560px;
        left: 30px;
    }
    .skills-icon i{
        position: absolute;
        top: 1520px;
        left: 21px;
        height: 80px;
        width: 80px;
        font-size: 20px;
        color: rgb(221, 162, 255);
    }
    .skill h1{
        position: absolute;
        top: 1516px;
        left: 70px;
        height: 80px;
        width: 80px;
        font-size: 20px;
        color: rgb(232, 193, 255);
    }
    .skill-top {
        position: absolute;
        top: 1560px;
        left: 70px;
        right: 10px;
    }
    .skill-top p{
        font-size: 25px;
        color: rgb(232, 193, 255);
    }
    .skill-top span{
        color: rgb(103, 0, 163);
    }
    .punk img{
        position: absolute;
        top: 1380px;
        left: 163px;
        height: 110px;
        width: 168px;
    }
    .mac img{
        position: absolute;
        top: 1370px;
        left: 150px;
        height: 180px;
        width: 190px;
    }
    .networking {
        position: absolute;
        background: rgba(48, 48, 48, 0.5);
        border-radius: 8px;
        box-shadow: 0 0 2px rgb(201, 201, 201);
        top: 1660px;
        left: 20px;
        height: 580px;
        right: 10px;
        font-size: 15px;
        font-weight: bold;
        color: rgb(102, 102, 102);
    }
    .networking h1{
        margin-top: 20px;
        margin-left: 50px;
        margin-right: 30px;
        margin-bottom: 10px;
        color: rgb(221, 221, 221);
    }
    .networking p{
        margin-top: 10px;
        margin-left: 50px;
        margin-right: 20px;
        margin-bottom: 15px;
    }
    .otherskills {
        position: absolute;
        background: rgb(29, 29, 29);
        border-radius: 8px;
        box-shadow: 0 0 2px rgb(201, 201, 201);
        font-size: 15px;
        font-weight: bold;
        top: 2200px;
        left: 5px;
        right: 20px;
        height: 400px;
        width: 320px;
        color: rgb(102, 102, 102);
    }
    .otherskills h1{
        color: rgb(221, 221, 221);
        margin-top: 15px;
        margin-left: 15px;
        margin-right: 30px;
        margin-bottom: 10px;
    }
    .otherskills p{
        margin-top: 10px;
        margin-left: 25px;
        margin-right: 30px;
        margin-bottom: 15px;
    }
    .vline5 img{
        position: absolute;
        height: 80px;
        width: 3px;
        top: 2605px;
        left: 30px;
    }
    .green-r img{
        position: absolute;
        height: 62px;
        width: 62px;
        top: 2685px;
        left: 0;
    }
    .edu-tit h1{
        position: absolute;
        top: 2700px;
        left: 70px;
        height: 80px;
        width: 80px;
        font-size: 20px;
        color: rgb(209, 255, 212);
    }
    .edu-ico i {
        position: absolute;
        top: 2703px;
        left: 25px;
        height: 80px;
        width: 80px;
        font-size: 20px;
        color: rgb(209, 255, 212);
    }
    .edu-sec h1 {
        position: absolute;
        top: 2750px;
        left: 70px;
        font-size: 30px;
        color: rgb(78, 255, 90);
    }
    .edu-sec p{
        position: absolute;
        top: 2815px;
        left: 70px;
        margin-top: 20px;
        font-size: 30px;
        color: rgb(209, 255, 212);
    }
    .vline6 img{
        position: absolute;
        height: 180px;
        width: 3px;
        top: 2745px;
        left: 30px;
    }
    .contactme img{
        position: absolute;
        top: 3050px;
        left: 0;
        height: 200px;
        width: 350px;
    }
    .contactme h1{
        position: absolute;
        font-weight: bold;
        color: rgb(73, 73, 73);
        top: 2950px;
        left: 50px;
    }
    .mail p{
        position: absolute;
        font-weight: bold;
        color: rgb(54, 54, 54);
        top: 3000px;
        left: 50px;
        font-size: 15px;
    }
    .mail i{
        color: rgb(73, 73, 73);
    }
    .number p{
        position: absolute;
        font-weight: bold;
        color: rgb(54, 54, 54);
        top: 3030px;
        left: 50px;
        font-size: 15px;
    }
    .number i{
        color: rgb(73, 73, 73);
    }
    .social-icons {
        position: absolute;
        top: 3050px;
        left: 50px;
        font-size: 20px;
    }
    .social-icons i{
        color: rgb(73, 73, 73);
        margin-top: 20px;
        margin-right: 15px;
    }

}